@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Urfa', sans-serif;
}

@keyframes fadeInGradient {
  from {
    background-position: -100% 0%;
  }
  to {
    background-position: 0% 0%;
  }
}

@keyframes slideInTop {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0%);
    opacity: 1;
  }
}

.animate-slide-in-top {
  animation: slideInTop 1s ease-out forwards;
}

.fade-in-gradient {
  animation: fadeInGradient 1s ease-out forwards;
  background-size: 200% 100%;
  background-image: linear-gradient(to left, #1e3a8a, #111827); /* gray-900 to blue-950 */
  background-repeat: no-repeat;
}

.slide-in-top {
  animation: slideInTop 1s ease-out forwards;
}

@keyframes fadeInSlideRight {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInSlideRight {
  animation: fadeInSlideRight 0.5s ease-in-out both;
}

@keyframes fadeInSlideLeft {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInSlideLeft {
  animation: fadeInSlideLeft 0.5s ease-in-out both;
}

@font-face {
  font-family: 'Urfa';
  src: url('./assets/fonts/urfa/Urfa-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urfa';
  src: url('./assets/fonts/urfa/Urfa-Black-Italic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urfa';
  src: url('./assets/fonts/urfa/Urfa-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urfa';
  src: url('./assets/fonts/urfa/Urfa-Bold-Italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urfa';
  src: url('./assets/fonts/urfa/Urfa-Book.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urfa';
  src: url('./assets/fonts/urfa/Urfa-Book-Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urfa';
  src: url('./assets/fonts/urfa/Urfa-Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urfa';
  src: url('./assets/fonts/urfa/Urfa-Heavy-Italic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urfa';
  src: url('./assets/fonts/urfa/Urfa-Light-Italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urfa';
  src: url('./assets/fonts/urfa/Urfa-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urfa';
  src: url('./assets/fonts/urfa/Urfa-Regular-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urfa';
  src: url('./assets/fonts/urfa/Urfa-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urfa';
  src: url('./assets/fonts/urfa/Urfa-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urfa';
  src: url('./assets/fonts/urfa/Urfa-Thin-Italic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
